@charset "UTF-8";

// ITCSS

@import '10-settings/all';
@import '20-tools/all';
@import '30-generic/all';
@import '40-elements/all';
@import '50-animations/all';
@import '60-objects/all';
@import '70-components/all';
@import '90-utilities/all';

// APP

// RULES
//
// Local CSS variables are named with `_` prefix.
// They can be used only <= 20.
//
// Fonts and Colors are used as CSS variables.
//
// Foo components must be mixins! App components are not.
//
// App styles are added in separate files. Override usage in `_all.scss`
//
