
// Show the retina images on retina-friendly devices only
// Usage: @include image-2x("logo2x.png", 100px, 25px);
@mixin retina($image, $width, $height) {
  @media  (min--moz-device-pixel-ratio: 1.3),
          (-o-min-device-pixel-ratio: 2.6/2),
          (-webkit-min-device-pixel-ratio: 1.3),
          (min-device-pixel-ratio: 1.3),
          (min-resolution: 1.3dppx) {
    /* Serving 2x image on Retina display */
    background-image: url($image);
    background-size: $width $height;
  }
}
