// Simple truncation mixin to cut off text using an ellipsis after a certain
// width.
//
// .simple-usage {
//   @include truncate();
// }

@mixin truncate($limit: 100%) {
	max-width: $limit;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
