@mixin padding-sides($right: true, $left: true) {
  @if $right {
    padding-right: $_spacing-sides;
  }

  @if $left {
    padding-left: $_spacing-sides;
  }

  @include mq($from: tablet) {
    @if $right {
      padding-right: $_spacing-sides\@tablet;
    }

    @if $left {
      padding-left: $_spacing-sides\@tablet;
    }
  }

  @include mq($from: desktop) {
    @if $right {
      padding-right: $_spacing-sides\@desktop;
    }

    @if $left {
      padding-left: $_spacing-sides\@desktop;
    }
  }
}

@mixin margin-sides($right: true, $left: true, $negative: false) {
  $minus: if($negative, '-', '');

  @if $right {
    margin-right: unquote("#{$minus}#{$_spacing-sides}");
  }

  @if $left {
    margin-left: unquote("#{$minus}#{$_spacing-sides}");
  }

  @include mq($from: tablet) {
    @if $right {
      margin-right: unquote("#{$minus}#{$_spacing-sides\@tablet}");
    }

    @if $left {
      margin-left: unquote("#{$minus}#{$_spacing-sides\@tablet}");
    }
  }

  @include mq($from: desktop) {
    @if $right {
      margin-right: unquote("#{$minus}#{$_spacing-sides\@desktop}");
    }

    @if $left {
      margin-left: unquote("#{$minus}#{$_spacing-sides\@desktop}");
    }
  }
}
