// SPACING-VARIABLES

// dont use directly!
$_spacing-unit: 8px;
$_spacing-sides: $_spacing-unit * 2;
$_spacing-sides\@tablet: $_spacing-unit * 3;
$_spacing-sides\@desktop: $_spacing-unit * 3;

// use
$spacing-xs: $_spacing-unit;
$spacing-md: $_spacing-unit * 2;
$spacing-lg: $_spacing-unit * 3;
$spacing-xl: $_spacing-unit * 4;
